@model OrderVM
<form method="post">

    <input asp-for="OrderHeader.Id" hidden>
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <em class="fas fa-shopping-cart"></em> &nbsp; Ordersammanfattning
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="index" class="btn btn-outline-info form-control btn-sm">Tillbaka till
                            Beställningar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Upphämtningsdetaljer:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Namn</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.Name" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.Name" type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Telefon</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.PhoneNumber" type="text"
                                            class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Adress</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.StreetAddress" type="text"
                                            class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Stad</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.City" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.City" type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Län</div>
                                <div class="col-8">
                                          @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.State" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.State" type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Postnummer</div>
                                <div class="col-8">
                                                  @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">E-post</div>
                                <div class="col-8">
              
                                
                                        <input readonly asp-for="OrderHeader.ApplicationUser.Email" type="text" class="form-control" />
                                                               </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Orderdatum</div>
                                <div class="col-8">
             
                                    
                                    <input readonly type="text" class="form-control" value="@Model.OrderHeader.OrderDate.ToString("yyyy-MM-dd HH:mm")" />

                                                             </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Fraktföretag</div>
                                <div class="col-8">
              @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.Carrier" type="text" id="carrier" class="form-control" />
                                     
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
                                    }                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Spårnings-ID</div>
                                <div class="col-8">
                                                  @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {

                                        <input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input readonly asp-for="OrderHeader.TrackingNumber" type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Leveransdatum</div>
                                <div class="col-8">
                                 <input readonly value="@Model.OrderHeader.ShippingDate.ToString("yyyy-MM-dd HH:mm")" type="text" class="form-control" />
                                </div>
                            </div>
                                                       @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){

                            <div class="row my-1">
                                <div class="col-4">Session-ID</div>
                                <div class="col-8">
                                  
                                        <input readonly asp-for="OrderHeader.SessionId" type="text" class="form-control" />
                                    
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Betalnings-ID</div>
                                <div class="col-8">
                                  
                                        <input readonly asp-for="OrderHeader.PaymentIntentId" type="text" class="form-control" />
                                </div>
                            </div>
                            }
                            <div class="row my-1">
                                @if(Model.OrderHeader.SessionId==null){
                                <div class="col-4">Förfallodatum</div>
                                <div class="col-8">

                                        <input readonly value="@Model.OrderHeader.PaymentDueDate.ToString("yyyy-MM-dd")" type="text" class="form-control" />
                                   
                                </div>
                                } else {



                                <div class="col-4 fs-6">Betalningsdatum</div>
                                <div class="col-8">

                                        <input readonly value="@Model.OrderHeader.PaymentDate.ToString("yyyy-MM-dd HH:mm")" type="text" class="form-control" />
                                   
                                </div>    
                                }                       
                            </div>
                            <div class="row my-1">
                                <div class="col-4 fs-6">Betalningsstatus</div>
                                <div class="col-8">
                                    <input asp-for="OrderHeader.PaymentStatus" readonly class="form-control" />
                                </div>
                            </div>
                                     @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                            <button type="submit" class="btn btn-warning form-control my-4" asp-action="UpdateOrderDetails">Uppdatera Orderdetaljer</button>
                                }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Ordersammanfattning</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Orderstatus -
                                @Model.OrderHeader.OrderStatus</label>

                            <ul class="list-group mb-3">
                                @foreach(var detail in Model.OrderDetail) {
                                <li class="list-group-item d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">

                                            <h6 class="my-0 text-primary">@detail.Product.Title</h6>
                                            <small class="text-muted">Pris: @(detail.Price)Kr</small><br />
                                            <small class="text-muted">Kvantitet : @detail.Count</small>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-success">@(detail.Count * detail.Price)Kr</p>
                                        </div>
                                    </div>
                                </li>
                                    }
                                <li class="list-group-item bg-primary pt-3">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">Totalt</h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@(Model.OrderHeader.OrderTotal)Kr</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if(Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayedPayment && Model.OrderHeader.OrderStatus == SD.StatusShipped){
                            <button type="submit" class="btn btn-success form-control my-1">Betala Nu</button>
                            }

                            @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){

                            @if(Model.OrderHeader.OrderStatus == SD.StatusApproved) {
                            <button type="submit" asp-action="StartProcessing" class="btn btn-primary my-gradient-btn form-control my-1"
                            > Påbörja Bearbetning</button>
                            }
                            @if(Model.OrderHeader.OrderStatus == SD.StatusInProcess) {

                            <button type="submit" asp-action="ShipOrder" onClick="return validateInput()" class="btn my-gradient-btn btn-primary form-control my-1"
                            >Skicka Order</button>
                            }
                            @if(Model.OrderHeader.OrderStatus != SD.StatusRefunded && Model.OrderHeader.OrderStatus != SD.StatusCancelled && Model.OrderHeader.OrderStatus != SD.StatusShipped) {
                            <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Avbryt Order</button>
                            }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput(){
            if(document.getElementById("carrier").value=="") {
                Swal.fire({
                    icon: 'error',
                    title: 'Hoppsan...',
                    text: 'Vänligen fyll i Fraktföretag!'
                });
                return false;
            }
            if(document.getElementById("trackingNumber").value=="") {
                Swal.fire({
                    icon: 'error',
                    title: 'Hoppsan...',
                    text: 'Vänligen fyll i Spårnings-ID!'
                });
                return false;
            } 
            return true;
        }
    </script>
}